################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DiabeticSystem.Common
/DiabeticDiagnosticSystem
/.vs
/DiabeticSystem.DAL
/DiabeticSystem.WebApi
/packages
/DiabeticSystem.BAL/bin/Debug
/DiabeticSystem.BAL/obj/Debug
