@model IEnumerable<DiabeticSystem.Common.Models.PatientDetails>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Jquery-Ui-1.12.css" rel="stylesheet" />
    <link href="~/Content/jquery.datatable.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Jquery1-ui-1.12.js"></script>
   
</head>
<body>
    <div class="container"> 
        <div class="row">
            @*<div class="col-sm-12">
                <div style="float:right;">                    
                   @Html.DropDownList("BloodGroup", (IEnumerable<SelectListItem>)ViewBag.BloodGroup, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.TextBox("appointmentdate", null, new { @id = "txtAppointment", @placeholder = "MM/DD/YYYY" })    
                    <input type="button" value="Search" class="btn btn-primary" id="btnSearch" />
                </div>
            </div>*@
           
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="dvAllPatients">                   
                    @Html.Partial("_PatientDetails", Model)                    
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-12">
                @Html.ActionLink("Add Patient Test Results", "AddPatientTestResult", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>

    
</body>
</html>
